   * { 
		margin:0; 
		padding:0; 
		font-family: 
	}   

	h1 {
		color: white;
	}
	
	body {
		font-family: "Droid Sans";
	}
	body p {
	 color: rgb(111, 12, 111);
	}
    a {
        text-decoration:none;
	}
    a:visited{ 
        text-decoration:none;
    }
	
    #top {
        padding-top:0px;
        padding-left:0px;
        padding: 0;
		width:100%;
        background-color: #F4FFFF;
        margin: 0px;
        height:100vh;
        border: 0px;
        text-align:center;
		display:inline-block
    }
     #skatelocal {
        padding-top:0px;
        padding-left:0px;
        padding: 0;
		width:100%;
        background-color: rgb(205, 153, 153);
        margin: 0px;
        height:100%;
        border: 0px;
        text-align:center;
    }
    #bside {
        padding-top:0px;
        padding-left:0px;
        padding: 0;
		width:100%;
        background-color: rgb(205, 153, 153);
        margin: 0px;
        height:100%;
        border: 0px;
        text-align:center;
    }
	#statement {
		padding: 20px;
		background-color: rgb(117, 117, 163);
	}
	#name {
		margin-top:4%;
	}
    #pic {
        height: 250px;
        width: 250px;
        border-radius: 4px;
        position:relative;
        display:block;
        margin-left:auto;
        margin-right:auto;
    }    
    #bioparagraph {
        text-align:center;
    }
    #header {
        text-align:center;
        font-size:20px;
        color:#FFA7A7;
    }
    #contact {
		padding-top:10px;
        text-align: center;
        display: inline-block;
    }
	#contact div {
		display:inline-block;
	}
    #andy {
        padding: 0;
        height: 100%;
        width: 100%;
        background-color: rgb(156, 206, 180);
        display: inline-block;
    }
    #screen {
		display:inline-block;
		background-size: cover;
		height:100%;
		width:100%;
        margin-left: auto;
        margin-right: auto;
        background-repeat: no-repeat;
		background-position: center;
    }
	.logo {
		cursor:pointer;
	}
<<<<<<< HEAD
	path:hover {
		stroke:#FFFFFF;
	}
	#logo {
		height:100%;
	#logo {
		width:100%;
		height:100%;
	}
	#web {
		width:100%;
		height:100%;
	}
	#me {
		width:100%;
		height:100%;
<<<<<<< HEAD
		width:100%;	
	}
	}
	#ping {
		visibility:visible;
	}
	.back0 {
        background-image: url("start.jpg");
	}
	.back1 {
        background-image: url("michigan.jpg");
	}
	.back6 {
        background-image: url("cat.jpg");
	}
	.back3 {
        background-image: url("chris.jpg");
	}
	.back2 {
        background-image: url("andreea.jpg");
	}
	.back4 {
        background-image: url("fritas.jpg");
	}
	.back5 {
        background-image: url("bubbles.jpg");
	}
	#nav {
		padding-top:2%;
	}
	#nav div {
		margin-left:auto;
		margin-right:auto;
	}
	#navelt {
<<<<<<< HEAD
		height:10%;
		width:30%;
		padding: 4px;
	}
	#words {
=======
		padding: 4px;
	}
	#words {
		width:200px;
		height:150px;
		border-radius:4px;
		background-color: rgba(244, 255, 255, .8);
	}
	#words:hover {
        background-color:rgba(255, 167, 167, .8);
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        /* ...and now for the proper property */
        transition:.5s;
    }	
	#wordsII p {
		padding-top:;
		font-size: 80px;
	}
	#projects {
		text-align:center;
		background-color: gray;
	}
	#cont {
		text-align: center;
		padding:40px;
	}
	#pics {
		margin-left:auto;
		margin-right:auto;
		padding: 20px;
	}
	#ptext {
		float:left;
		margin-top:30%;
	}
	#skate {
		height:50%;
		width:50%;
		-webkit-box-shadow: 0px 10px 52px -10px rgba(5,5,5,1);
		-moz-box-shadow: 0px 10px 52px -10px rgba(5,5,5,1);
		box-shadow: 0px 10px 52px -10px rgba(5,5,5,1);
	}
	#links {
		height:70px;
		width:70px;
		border-radius:50%;
		background-color: rgba(205, 255, 255, .7);
		color:black;
	}
	#linksII {
	}
	#naveltII {
		padding:4px;
	}
	#links:hover {
        color:white;
        background-color:rgba(255, 167, 167, .8);
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        /* ...and now for the proper property */
        transition:.5s;
    }	
	.path {
	  stroke-dasharray: 2000;
	  stroke-dashoffset: 2000;
	  animation: dash 20s linear forwards;
	}
	.rpath {
	  stroke-dasharray: 2000;
	  stroke-dashoffset: 2000;
	  animation: dash 20s linear reverse;
	}
	
	@keyframes dash {
	  from {
		stroke-dashoffset: 2000;
	  }
	  to {
		stroke-dashoffset: 0;
	  }
	}
	#picholder {
		padding: 20px;
	}
	#paragraph a {
		color:rgb(117, 117, 163);
		text-decoration: none;
	}
	#paragraph a:hover {
		color: grey;
	}
	#paragraph a:visited {
		color: rgb(117, 117, 163);
		text-decoration: none;
	}

	/*@media screen and (max-width: 1000px) {
		#nav {
			display: block;
		}
	}*/